html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/* original aspect ratio width="640" height="360" */

#sketch-container{
  position: relative;
  width: 79%; /* adjust this and the padding-top to change how big it is*/
  height: 0;
}
